{{define "article"}}

<html lang="en"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Milligram | A minimalist CSS framework.</title>
    <link rel="icon" href="https://milligram.github.io/images/icon.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
    <link rel="stylesheet" href="../dist/milligram.min.css">
</head>
<body>

    <main class="wrapper">
        <section class="container" id="examples">
            {{.info}}
        </section>

    </main>



</body>
</html>

{{end}}